
.productWrap {
  font-size: small;
  width: 150px;
  height: 180px;
  overflow: hidden;
  padding: 15px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
}
